root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = false:suggestion
csharp_prefer_braces = true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1062.severity = none

[*.{json,yml,yaml,bicep,bicepparam,props,targets,csproj}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
